/*
 * Современная литература 21 века Ганова Людмила Цуриков Илья Ket Gun modern literature  https://russianmonarchy.github.io/
 * Книги, публицистика кинокритика статьи, романы, скачать онлайн, писатели
 */
 

html {
    margin: 0;
	max-width: 100%;
	background-color: #ffffff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   overflow-x: hidden;
}

body {
   margin: 0;
   max-width: 100%;
   overflow-x: hidden;
   font-family: 'Roboto Slab', serif, Arial;
   font-weight: 300;
   font-size : 20px;
   color: #336633;
   text-align: justify; 
  -webkit-transition: width 2s, height 2s,-webkit-transform 2s;  
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
   transition: width 2s, height 2s, transform 2s;
}

.clear {
    clear: both;
}


blockquote {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #336633;
    text-align: justify; 
}

hr {
  color: #86e527;
}


#myCarousel h2 {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 30px;
	color: #fff;
    text-align: center;	
}

#myCarousel p {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #fff;
    text-align: center;	
}

h2, a {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 16px;
	color: #423f3f;
    text-align: justify;
    text-decoration: none;	
}

#footer {
    padding: 7px 7px;
}

#literatura {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/yacht-21stcenyury-carlxvigustaf-royalsnotes.jpg) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#literatura .literatura21 {
    position: relative;
    z-index: 1;
}

.literatura21 {
    padding: 10px 40px;
}

.modern {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

.btn-lit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-lit:hover, .btn-lit:focus, .btn-lit:focus, .btn-lit:active {
	color: #ffffff;
	width: 35%;
	text-align: center;
	background-color: #4ec60b;
	border-color: #4ec60b;
	text-decoration: none;
}


.books-btn {
    display: inline-block;
	color: #86e527;
	text-align: center;
	background-color: transparent;
	width: auto;
    padding: 6px 12px;
	line-height: 1.42857143;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #86e527;
	margin: 5px;
}

.books-btn2 {
    display: inline-block;
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	width: auto;
	line-height: 1.42857143;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ffffff;
	margin: 5px;
}

#books .books-btn:hover, .books-btn:focus, .books-btn:focus, .books-btn:active {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border-color: #86e527;
}

#books .books-btn2:hover, .books-btn2:focus, .books-btn2:focus, .books-btn2:active {
	color: #86e527;
	background-color: transparent;
	border-color: #86e527;
}

#filmcritic {
 	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}

.kinokritika  {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify; 
}

#filmcritic  .btn-default {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	width: 95%;
	border: 1px solid #86e527;
	padding: 8px 20px;
	margin: 5px;
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
}
#filmcritic  .btn-default:hover, .btn-default:focus, .btn-default:focus, .btn-default:active {
	color: #86e527;
	text-align: center;
	background-color: transparent;
	border-color: #86e527;
}


.boxshadow  {
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.1), 3px 5px 12px 0 rgba(0, 0, 0, 0.11);
}


#nobelprize {
    width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literature.jpg) no-repeat center center fixed;
	background-color: #86e527;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 10px;
}

#nobelprize .nobellaureate  {
    position: relative;
    z-index: 1;
}

#nobelprize a   {
    color: #ffffff;
}

#nobelprize img {
    margin-top: 5%;
}

#nobelprize h2 {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300;
	font-size : 24px;
	color: #ffffff;
}

.nobel  {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #ffffff;
    text-align: justify;
}

#nobelprize  .btn-default {
	color: #ffffff;
	text-align: center;
	background-color: transparent;
	width: 99%;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	margin: 5px;
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}
#nobelprize  .btn-default:hover, .btn-default:focus, .btn-default:focus, .btn-default:active {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border-color: #ffffff;
	text-decoration: none;
}

#publication {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literatura.gif) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#publication .publication21 {
    position: relative;
    z-index: 1;
}


.publication21 {
    padding: 10px 40px;
}

.publications   {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

#monarchy {	
	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


.monarchy-section {
    padding: 10px 40px;
}

.monarchy-section   {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

#monarchyEn {	
	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}

#Auction {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/Auction.jpg) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#Auction .Auction21 {
    position: relative;
    z-index: 1;
}


.Auction21 {
    padding: 10px 40px;
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

.btn-auction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
	color: #fff;
	text-align: center;
	background-color: #fd1010;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-auction:hover, .btn-auction:focus, .btn-auction:focus, .btn-auction:active {
	color: #fd1010;
	width: 35%;
	text-align: center;
	background-color: #fff;
	border-color: #fd1010;
	text-decoration: none;
}

/* https://russianmonarchy.github.io/ contact */ 

#contact {
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/Footer.png) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 17px;
}

#contact .overlay {
    position: relative;
    z-index: 1;
	padding: 30px 0 30px 0;
	margin: 40px;
}
	
#contact h3 {
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: rgba(255,255,255,0.3);
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

.overlay {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #000;
    text-align: justify;
	background-color: #000;
	opacity: 0.7;
}


}

.form-control::-webkit-input-placeholder {
color: #ccc;
}
.form-control:-moz-placeholder {
color: #ccc;
}
.form-control::-moz-placeholder {
color: #ccc;
}
.form-control:-ms-input-placeholder {
color: #ccc;
}

.btn-contact {
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
}

.btn-contact:hover, .btn-contact:focus, .btn-contact:focus, .btn-contact:active, .btn-contact:active {
	color: #ffffff;
	background-color: #389107;
	border-color: #ffffff;
}

.btn2:active, .btn2.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a:focus, .btn2:focus, .btn2:active:focus, .btn2.active:focus, .btn2:focus, .btn2:active:focus, .btn2.active:focus {
	outline: none;
	outline-offset: none;
}

#contact .btn2 {
	margin-top: 10px;
}

#contact p {
	color: #ffffff;
	font-size: 14px;
	margin: 0 0 10px;
	margin-top: 51px;
	padding: 0 0;
}

/* https://russianmonarchy.github.io/ contact */ 

#footer {
    margin-top: 1%;
    margin-bottom: 1%;
}

@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media screen and (max-width: 1280px) {


html {
    margin: 0;
	max-width: 100%;
	background-color: #ffffff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   overflow-x: hidden;
}

body {
   margin: 0;
   max-width: 100%;
   overflow-x: hidden;
   font-family: 'Roboto Slab', serif, Arial;
   font-weight: 300;
   font-size : 20px;
   color: #336633;
   text-align: justify; 
  -webkit-transition: width 2s, height 2s,-webkit-transform 2s;  
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
   transition: width 2s, height 2s, transform 2s;
}

.clear {
    clear: both;
}


blockquote {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #336633;
    text-align: justify; 
}

hr {
  color: #86e527;
}


#myCarousel h2 {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 30px;
	color: #fff;
    text-align: center;	
}

#myCarousel p {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #fff;
    text-align: center;	
}

h2, a {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 16px;
	color: #423f3f;
    text-align: justify;
    text-decoration: none;	
}

#footer {
    padding: 7px 7px;
}

#literatura {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literatura.gif) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#literatura .literatura21 {
    position: relative;
    z-index: 1;
}

.literatura21 {
    padding: 10px 40px;
}

.modern {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

.btn-lit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-lit:hover, .btn-lit:focus, .btn-lit:focus, .btn-lit:active {
	color: #ffffff;
	width: 35%;
	text-align: center;
	background-color: #4ec60b;
	border-color: #4ec60b;
	text-decoration: none;
}


.books-btn {
    display: inline-block;
	color: #86e527;
	text-align: center;
	background-color: transparent;
	width: auto;
    padding: 6px 12px;
	line-height: 1.42857143;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #86e527;
	margin: 5px;
}

.books-btn2 {
    display: inline-block;
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	width: auto;
	line-height: 1.42857143;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ffffff;
	margin: 5px;
}

#books .books-btn:hover, .books-btn:focus, .books-btn:focus, .books-btn:active {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border-color: #86e527;
}

#books .books-btn2:hover, .books-btn2:focus, .books-btn2:focus, .books-btn2:active {
	color: #86e527;
	background-color: transparent;
	border-color: #86e527;
}

#filmcritic {
 	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}

.kinokritika  {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify; 
}

#filmcritic  .btn-default {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	width: 95%;
	border: 1px solid #86e527;
	padding: 8px 20px;
	margin: 5px;
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
}
#filmcritic  .btn-default:hover, .btn-default:focus, .btn-default:focus, .btn-default:active {
	color: #86e527;
	text-align: center;
	background-color: transparent;
	border-color: #86e527;
}


.boxshadow  {
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.1), 3px 5px 12px 0 rgba(0, 0, 0, 0.11);
}


#nobelprize {
    width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literature.jpg) no-repeat center center fixed;
	background-color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 10px;
}

#nobelprize .nobellaureate  {
    position: relative;
    z-index: 1;
}

#nobelprize img {
    margin-top: 5%;
}

#nobelprize h2 {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300;
	font-size : 24px;
	color: #ffffff;
}

.nobel  {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #ffffff;
    text-align: justify;
}

#nobelprize  .btn-default {
	color: #ffffff;
	text-align: center;
	background-color: transparent;
	width: 99%;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	margin: 5px;
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}
#nobelprize  .btn-default:hover, .btn-default:focus, .btn-default:focus, .btn-default:active {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border-color: #ffffff;
	text-decoration: none;
}

#publication {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literatura.gif) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#publication .publication21 {
    position: relative;
    z-index: 1;
}


.publication21 {
    padding: 10px 40px;
}

.publications   {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

#monarchy {	
	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


.monarchy-section {
    padding: 10px 40px;
}

.monarchy-section   {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

#Auction {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/Auction.jpg) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#Auction .Auction21 {
    position: relative;
    z-index: 1;
}


.Auction21 {
    padding: 10px 40px;
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

.btn-auction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
	color: #fff;
	text-align: center;
	background-color: #fd1010;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-auction:hover, .btn-auction:focus, .btn-auction:focus, .btn-auction:active {
	color: #fd1010;
	width: 35%;
	text-align: center;
	background-color: #fff;
	border-color: #fd1010;
	text-decoration: none;
}



}


@media (max-width: 480px) {

html {
    margin: 0;
	max-width: 100%;
	background-color: #ffffff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   overflow-x: hidden;
}

body {
   margin: 0;
   max-width: 100%;
   overflow-x: hidden;
   font-family: 'Roboto Slab', serif, Arial;
   font-weight: 300;
   font-size : 20px;
   color: #336633;
   text-align: justify; 
  -webkit-transition: width 2s, height 2s,-webkit-transform 2s;  
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
   transition: width 2s, height 2s, transform 2s;
}

.clear {
    clear: both;
}


blockquote {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #336633;
    text-align: justify; 
}

hr {
  color: #86e527;
}


#myCarousel h2 {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 30px;
	color: #fff;
    text-align: center;	
}

#myCarousel p {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #fff;
    text-align: center;	
}

h2, a {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #423f3f;
    text-align: justify;
    text-decoration: none;	
}

#footer {
    padding: 7px 7px;
}

#literatura {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literatura.gif) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#literatura .literatura21 {
    position: relative;
    z-index: 1;
}

.literatura21 {
    padding: 10px 40px;
}

.modern {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

.btn-lit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-lit:hover, .btn-lit:focus, .btn-lit:focus, .btn-lit:active {
	color: #ffffff;
	width: 35%;
	text-align: center;
	background-color: #4ec60b;
	border-color: #4ec60b;
	text-decoration: none;
}


.books-btn {
    display: inline-block;
	color: #86e527;
	text-align: center;
	background-color: transparent;
	width: auto;
    padding: 6px 12px;
	line-height: 1.42857143;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #86e527;
	margin: 5px;
}

.books-btn2 {
    display: inline-block;
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	width: auto;
	line-height: 1.42857143;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ffffff;
	margin: 5px;
}

#books .books-btn:hover, .books-btn:focus, .books-btn:focus, .books-btn:active {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border-color: #86e527;
}

#books .books-btn2:hover, .books-btn2:focus, .books-btn2:focus, .books-btn2:active {
	color: #86e527;
	background-color: transparent;
	border-color: #86e527;
}

#filmcritic {
 	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}

.kinokritika  {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify; 
}

#filmcritic  .btn-default {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	width: 95%;
	border: 1px solid #86e527;
	padding: 8px 20px;
	margin: 5px;
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
}
#filmcritic  .btn-default:hover, .btn-default:focus, .btn-default:focus, .btn-default:active {
	color: #86e527;
	text-align: center;
	background-color: transparent;
	border-color: #86e527;
}


.boxshadow  {
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.1), 3px 5px 12px 0 rgba(0, 0, 0, 0.11);
}


#nobelprize {
    width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literature.jpg) no-repeat center center fixed;
	background-color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 10px;
}

#nobelprize .nobellaureate  {
    position: relative;
    z-index: 1;
}

#nobelprize img {
    margin-top: 5%;
}

#nobelprize h2 {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300;
	font-size : 24px;
	color: #ffffff;
}

.nobel  {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #ffffff;
    text-align: justify;
}

#nobelprize  .btn-default {
	color: #ffffff;
	text-align: center;
	background-color: transparent;
	width: 99%;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	margin: 5px;
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}
#nobelprize  .btn-default:hover, .btn-default:focus, .btn-default:focus, .btn-default:active {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border-color: #ffffff;
	text-decoration: none;
}

#publication {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literatura.gif) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#publication .publication21 {
    position: relative;
    z-index: 1;
}


.publication21 {
    padding: 10px 40px;
}

.publications   {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

#monarchy {	
	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


.monarchy-section {
    padding: 10px 40px;
}

.monarchy-section   {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

#Auction {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/Auction.jpg) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#Auction .Auction21 {
    position: relative;
    z-index: 1;
}


.Auction21 {
    padding: 10px 40px;
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

.btn-auction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
	color: #fff;
	text-align: center;
	background-color: #fd1010;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-auction:hover, .btn-auction:focus, .btn-auction:focus, .btn-auction:active {
	color: #fd1010;
	width: 35%;
	text-align: center;
	background-color: #fff;
	border-color: #fd1010;
	text-decoration: none;
}

}

@media (max-width: 360px) {

html {
    margin: 0;
	max-width: 100%;
	background-color: #ffffff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   overflow-x: hidden;
}

body {
   margin: 0;
   max-width: 100%;
   overflow-x: hidden;
   font-family: 'Roboto Slab', serif, Arial;
   font-weight: 300;
   font-size : 20px;
   color: #336633;
   text-align: justify; 
  -webkit-transition: width 2s, height 2s,-webkit-transform 2s;  
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
   transition: width 2s, height 2s, transform 2s;
}

.clear {
    clear: both;
}


blockquote {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #336633;
    text-align: justify; 
}

hr {
  color: #86e527;
}


#myCarousel h2 {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 30px;
	color: #fff;
    text-align: center;	
}

#myCarousel p {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #fff;
    text-align: center;	
}

h2, a {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 16px;
	color: #423f3f;
    text-align: justify;
    text-decoration: none;	
}

#footer {
    padding: 7px 7px;
	margin: 15px;
}

#literatura {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literatura.gif) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#literatura .literatura21 {
    position: relative;
    z-index: 1;
}

.literatura21 {
    padding: 10px 40px;
}

.modern {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

.btn-lit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-lit:hover, .btn-lit:focus, .btn-lit:focus, .btn-lit:active {
	color: #ffffff;
	width: 35%;
	text-align: center;
	background-color: #4ec60b;
	border-color: #4ec60b;
	text-decoration: none;
}


.books-btn {
    display: inline-block;
	color: #86e527;
	text-align: center;
	background-color: transparent;
	width: auto;
    padding: 6px 12px;
	line-height: 1.42857143;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #86e527;
	margin: 5px;
}

.books-btn2 {
    display: inline-block;
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	width: auto;
	line-height: 1.42857143;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ffffff;
	margin: 5px;
}

#books .books-btn:hover, .books-btn:focus, .books-btn:focus, .books-btn:active {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border-color: #86e527;
}

#books .books-btn2:hover, .books-btn2:focus, .books-btn2:focus, .books-btn2:active {
	color: #86e527;
	background-color: transparent;
	border-color: #86e527;
}

#filmcritic {
 	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}

.kinokritika  {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify; 
}

#filmcritic  .btn-default {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	width: 95%;
	border: 1px solid #86e527;
	padding: 8px 20px;
	margin: 5px;
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
}
#filmcritic  .btn-default:hover, .btn-default:focus, .btn-default:focus, .btn-default:active {
	color: #86e527;
	text-align: center;
	background-color: transparent;
	border-color: #86e527;
}


.boxshadow  {
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.1), 3px 5px 12px 0 rgba(0, 0, 0, 0.11);
}


#nobelprize {
    width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literature.jpg) no-repeat center center fixed;
	background-color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 10px;
}

#nobelprize .nobellaureate  {
    position: relative;
    z-index: 1;
}

#nobelprize img {
    margin-top: 5%;
}

#nobelprize h2 {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300;
	font-size : 24px;
	color: #ffffff;
}

.nobel  {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #ffffff;
    text-align: justify;
}

#nobelprize  .btn-default {
	color: #ffffff;
	text-align: center;
	background-color: transparent;
	width: 99%;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	margin: 5px;
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}
#nobelprize  .btn-default:hover, .btn-default:focus, .btn-default:focus, .btn-default:active {
	color: #ffffff;
	text-align: center;
	background-color: #86e527;
	border-color: #ffffff;
	text-decoration: none;
}

#publication {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/literatura.gif) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#publication .publication21 {
    position: relative;
    z-index: 1;
}


.publication21 {
    padding: 10px 40px;
}

.publications   {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

#monarchy {	
	width: 100%;
	display: inline-block;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


.monarchy-section {
    padding: 10px 40px;
}

.monarchy-section   {
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 18px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

#Auction {	
	width: 100%;
	display: inline-block;
	background: url(https://russianmonarchy.github.io/img/Auction.jpg) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 50px 7px;
}


#Auction .Auction21 {
    position: relative;
    z-index: 1;
}


.Auction21 {
    padding: 10px 40px;
	font-family: 'Roboto Slab', serif, Arial;
    font-weight: 300;
	font-size : 20px;
	color: #000;
    text-align: justify;
	background-color: #fff;
	opacity: 0.9;
}

.btn-auction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
	color: #fff;
	text-align: center;
	background-color: #fd1010;
	border: 1px solid #ffffff;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-auction:hover, .btn-auction:focus, .btn-auction:focus, .btn-auction:active {
	color: #fd1010;
	width: 35%;
	text-align: center;
	background-color: #fff;
	border-color: #fd1010;
	text-decoration: none;
}

}