

/*
 * Современная литература  https://russianmonarchy.github.io/
------------------------------------------------ */

   
html {
    margin: 0;
	max-width: 100%;
    overflow-x: hidden;
    background: url(literatura.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
   max-width: 100%;
   margin: 0;
   height: 100%;
   display: block;
   overflow-x: hidden; 

}

img {
   max-width: 100%;
   height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

 li a:link, li a:visited {
    display: block;
    width: 170px;
    font-weight: normal;
    color: #ffffff;
    background-color: #86e527;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

li a:hover, li a:active {
    background-color: #0bc727;
}

/* link */
a:link {
    color: #0000ff;
	text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000033;
}

a:active {
    color: #ff0000;
}

.container {
    position: relative;
}

.container_book {
    display: block;
    margin-left: auto;
    margin-right: right;
    width: 95%;
    min-height: 250px;
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
    overflow-y: scroll;
    border-radius: 8px;
}

h1,h2 {
    font-weight: normal;
    color: blue;
    margin-left: 20px;
    text-shadow: 4px 4px 5px #ffffff;
   
}
  
pre,p { 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #444444;
    text-align: justify;  
}
   
@media screen and (max-width: 1280px) {

   
html {
    max-width: 100%;
    margin: 0;
    background: url(literatura.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
   max-width: 100%;
   margin: 0;
   height: 100%;
   display: block;
   overflow-x: hidden; 

}

img {
   max-width: 100%;
   height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

 li a:link, li a:visited {
    display: block;
    width: 170px;
    font-weight: normal;
    color: #ffffff;
    background-color: #86e527;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

li a:hover, li a:active {
    background-color: #0bc727;
}

/* link */
a:link {
    color: #0000ff;
	text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000033;
}

a:active {
    color: #ff0000;
}


.container {
    position: relative;
}

.container_book {
    display: block;
    margin-left: auto;
    margin-right: right;
    width: 95%;
    min-height: 250px;
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
    overflow-y: scroll;
    border-radius: 8px;
}

h1,h2 {
    font-weight: normal;
    color: blue;
    margin-left: 20px;
    text-shadow: 4px 4px 5px #ffffff;
   
}
  
pre,p { 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #444444;
    text-align: justify; 
}

.photo img {
    display : block;
	height: auto;
	width: 100%;
	max-height: auto;
	max-width: 726px;
	margin : 1%;
    box-shadow: 7px 7px 5px #E0E0E0;
}

}

@media (max-width: 480px) {

   
html {
    max-width: 100%;
    margin: 0;
    background: url(literatura.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
   max-width: 100%;
   margin: 0;
   height: 100%;
   display: block;
   overflow-x: hidden; 

}

img {
  max-width: 100%;
  height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

 li a:link, li a:visited {
    display: block;
    width: 170px;
    font-weight: normal;
    color: #ffffff;
    background-color: #86e527;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

li a:hover, li a:active {
    background-color: #0bc727;
}

/* link */
a:link {
    color: #0000ff;
	text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000033;
}

a:active {
    color: #ff0000;
}


.container {
    position: relative;
}

.container_book {
    display: block;
    margin-left: auto;
    margin-right: right;
    width: 95%;
    min-height: 250px;
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
    overflow-y: scroll;
    border-radius: 8px;
}

h1,h2 {
    font-weight: normal;
    color: blue;
    margin-left: 20px;
    text-shadow: 4px 4px 5px #ffffff;
   
}
  
pre,p { 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #444444;
    text-align: justify; 
}

.photo img {
    display : block;
	height: auto;
	width: 100%;
	max-height: auto;
	max-width: 726px;
	margin : 1%;
    box-shadow: 7px 7px 5px #E0E0E0;
}

}

@media (max-width: 360px) {

   
html {
    max-width: 100%;
    margin: 0;
    background: url(literatura.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
   max-width: 100%;
   margin: 0;
   height: 100%;
   display: block;
   overflow-x: hidden; 

}

img {
  max-width: 100%;
  height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

 li a:link, li a:visited {
    display: block;
    width: 170px;
    font-weight: normal;
    color: #ffffff;
    background-color: #86e527;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

li a:hover, li a:active {
    background-color: #0bc727;
}

/* link */
a:link {
    color: #0000ff;
	text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000033;
}

a:active {
    color: #ff0000;
}


.container {
    position: relative;
}

.container_book {
    display: block;
    margin-left: auto;
    margin-right: right;
    width: 95%;
    height: auto;
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
    overflow-y: scroll;
    border-radius: 8px;
}

h1,h2 {
    font-weight: normal;
    color: blue;
    margin-left: 20px;
    text-shadow: 4px 4px 5px #ffffff;
   
}
  
pre,p { 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #444444;
    text-align: justify; 
}

.photo img {
    display : block;
	height: auto;
	width: 100%;
	max-height: auto;
	max-width: 726px;
	margin : 1%;
    box-shadow: 7px 7px 5px #E0E0E0;
}
}

/* 2 form contact */

@media (min-width: 480px) {
	
#form .container-form {
	display: block;
    background-color: rgb(255, 255, 255);
	padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}
  
.column {
	position: relative;
    float: left;
    width: 70%;
  }
  
.center {
    text-align: center;
	font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300; 
	font-size: 2em;
    color: rgb(0, 0, 0);
}

}

@media (min-width: 768px) {
	
#form .container-form {
	display: block;
    background-color: rgb(255, 255, 255);
	padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}
  
.column {
	position: relative;
    float: left;
    width: 70%;
  }
  
.center {
    text-align: center;
	font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300; 
	font-size: 3em;
    color: rgba(0, 0, 0, 0.7);
}

.roa {
	margin-right: -15px;
    margin-left: -15px;
}

}
  
 @media (min-width: 992px) {
	 
#form .container-form {
	display: block;
	background-color: rgb(255, 255, 255);
	padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.column {
	position: relative;
	width: 50%;
	float: left;
}

.center {
    text-align: center;
	font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300; 
	font-size: 3em;
    color: rgba(0, 0, 0, 0.7);
}

.roa {
	margin-right: -15px;
    margin-left: -15px;
}

 }
 
 @media (min-width: 1200px) {
	 
#form .container-form {
	display: block;
	background-color: rgb(255, 255, 255);
	padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.column {
	position: relative;
    float: left;
	width: 50%;
  }
  
.center {
    text-align: center;
	font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300; 
	font-size: 3em;
    color: rgba(0, 0, 0, 0.7);
}

.roa {
	margin-right: -15px;
    margin-left: -15px;
}

}

#form {
	display: block;
	background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: right;
    width: 95%;
    min-height: 400px;
    text-align: justify;
    padding: 8px;
    border-radius: 8px;
}

#form  h4 {
    font-family: 'Roboto Slab', serif, Arial;
    font-style: normal;
    font-weight: 300; 
	font-size: 2em;
    color: rgba(25, 107, 0, 0.5);
}


#form-contact {
	display: block;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	margin: 1%;
}

#form-contact:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
	margin: 1%;
}

#form .overlay {
	padding: 15px 15px;
}

#form .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 15px;
	line-height: 1.42857143;
	color: #ffffff;
	background-color: rgb(255, 0, 0);
	border-color: #ffffff;
	border: 1;
	background-image: none;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

#form .form-control:focus {
	border-style: solid;
	border-color: inherit;
    background-color: rgba(255, 0, 0, 0.5);
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

#success {
	margin: 1%;
}

#success .btn-form {
	color: rgb(255, 255, 255);
	background-color: rgb(255, 0, 0);
	border: 1px solid #ffffff;
	padding: 8px 20px;
	margin: 0;
	margin-bottom: 3%;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
}

#success .btn-form:hover, #success .btn-form:focus {
	color: 	rgb(255, 255, 255);
	border: 1px solid #ffffff;
	background-color: rgb(0, 0, 255);
	padding: 8px 20px;
	margin: 0;
	margin-bottom: 3%;
	font-size: 15px;
	text-transform: uppercase;
}


.form-control::-webkit-input-placeholder {
color: #fff;
}
.form-control:-moz-placeholder {
color: #fff;
}
.form-control::-moz-placeholder {
color: #fff;
}
.form-control:-ms-input-placeholder {
color: #fff;
}

.btn:hover, .btn:focus  {
	color: #ffffff;
	background-color: rgba(255,55,103,0.1);
	border-color: #ffffff;
}

.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.clear {
    clear: both;
}
/* 2 form contact */ 