/*
 * Современная литература 21 века Ганова Людмила Цуриков Илья Ket Gun modern literature  https://russianmonarchy.github.io/
 * Книги, публицистика кинокритика статьи, романы, скачать онлайн, писатели Ganova Ludmila Tsurikov Ilya Ket Gun
 */

* {
  margin: 1px;
  padding: 0;
}
   
html {
     background: url(literatura.gif) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

 li a:link, li a:visited {
    display: block;
    width: 170px;
    font-weight: normal;
    color: #ffffff;
    background-color: #86e527;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

li a:hover, li a:active {
    background-color: #0bc727;
}

/* link */
a:link {
    color: #0000ff;
	text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000033;
}

a:active {
    color: #ff0000;
}

body {
    display: block;
}

.container {
    text-align: justify;
}

.container_book {
    border: 0px solid gray;
    margin-left: auto;
    margin-right: right;
    width: 85%;
    height: auto;
    background-color: #ffffff;
    text-align: justify;
    padding: 8px;
    overflow-y: scroll;
	opacity: 0.9;
}

h1,h2 {
    font-weight: normal;
    color: red;
    margin-left: 20px;
    text-shadow: 4px 4px 5px #ffffff;
   
}
  
pre,p { 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #333333;
    text-align: justify;	 
}

hr {
     color: #00ffdd;
}

.photo img {
    display : block;
	margin-right : 15%;
    margin-left : 15%;
    float : left;
    box-shadow: 7px 7px 5px #E0E0E0;
}

.clear {
    clear: both;
}

.literatura img {
    display : block;
	margin-right : 3%;
    margin-left : 17%;
	margin-bottom : 1%;
    float : left;
	max-height: auto;
	max-width: 700px;
    box-shadow: 7px 7px 5px #E0E0E0;
}

@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media screen and (max-width: 1280px) {

* {
  margin: 1px;
  padding: 0;
}
   
html {
     background: url(literatura.gif) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

 li a:link, li a:visited {
    display: block;
    width: 170px;
    font-weight: normal;
    color: #ffffff;
    background-color: #86e527;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

li a:hover, li a:active {
    background-color: #0bc727;
}

/* link */
a:link {
    color: #0000ff;
	text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000033;
}

a:active {
    color: #ff0000;
}

body {
    display: block;
}

.container {
    text-align: justify;
}

.container_book {
    border: 0px solid gray;
    margin-left: auto;
    margin-right: right;
    width: 95%;
    height: auto;
    background-color: #ffffff;
    text-align: justify;
    padding: 8px;
    overflow-y: scroll;
	opacity: 0.9;
}

h1,h2 {
    font-weight: normal;
    color: red;
    margin-left: 20px;
    text-shadow: 4px 4px 5px #ffffff;
   
}
  
pre,p { 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #333333;
    text-align: justify; 
}

hr {
     color: #00ffdd;
}

.photo img {
    display : block;
	height: auto;
	width: 100%;
	margin : 1%;
    box-shadow: 7px 7px 5px #E0E0E0;
}

.clear {
    clear: both;
}

.literatura img {
    display : block;
	height: auto;
	width: 100%;
	max-height: auto;
	max-width: 700px;
    margin-right : 3%;
    margin-left : 7%;
	margin-bottom : 1%;
    box-shadow: 7px 7px 5px #E0E0E0;
}

}


@media (max-width: 480px) {

* {
  margin: 1px;
  padding: 0;
}
   
html {
     background: url(literatura.gif) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

 li a:link, li a:visited {
    display: block;
    width: 170px;
    font-weight: normal;
    color: #ffffff;
    background-color: #86e527;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

li a:hover, li a:active {
    background-color: #0bc727;
}

/* link */
a:link {
    color: #0000ff;
	text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000033;
}

a:active {
    color: #ff0000;
}

body {
    display: block;
}

.container {
    text-align: justify;
}

.container_book {
    border: 0px solid gray;
    margin-left: auto;
    margin-right: right;
    width: 95%;
    height: auto;
    background-color: #ffffff;
    text-align: justify;
    padding: 8px;
    overflow-y: scroll;
	opacity: 0.9;
}

h1,h2 {
    font-weight: normal;
    color: red;
    margin-left: 20px;
    text-shadow: 4px 4px 5px #ffffff;
   
}
  
pre,p { 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #333333;
    text-align: justify;	 
}

hr {
     color: #00ffdd;
}

.photo img {
    display : block;
	height: auto;
	width: 100%;
	margin : 1%;
    box-shadow: 7px 7px 5px #E0E0E0;
}

.clear {
    clear: both;
}

.literatura img {
    display : block;
	height: auto;
	width: 100%;
	max-height: auto;
	max-width: 700px;
	margin : 1%;
    box-shadow: 7px 7px 5px #E0E0E0;
}

}

@media (max-width: 360px) {

* {
  margin: 1px;
  padding: 0;
}
   
html {
     background: url(literatura.gif) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

 li a:link, li a:visited {
    display: block;
    width: 170px;
    font-weight: normal;
    color: #ffffff;
    background-color: #86e527;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

li a:hover, li a:active {
    background-color: #0bc727;
}

/* link */
a:link {
    color: #0000ff;
	text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000033;
}

a:active {
    color: #ff0000;
}

body {
    display: block;
}

.container {
    text-align: justify;
}

.container_book {
    border: 0px solid gray;
    margin-left: auto;
    margin-right: right;
    width: 95%;
    height: auto;
    background-color: #ffffff;
    text-align: justify;
    padding: 8px;
    overflow-y: scroll;
	opacity: 0.9;
}

h1,h2 {
    font-weight: normal;
    color: red;
    margin-left: 20px;
    text-shadow: 4px 4px 5px #ffffff;
   
}
  
pre,p { 
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
	font-size : 20px;
	color: #333333;
    text-align: justify; 
}

hr {
     color: #00ffdd;
}

.photo img {
    display : block;
	height: auto;
	width: 100%;
    box-shadow: 7px 7px 5px #E0E0E0;
}

.clear {
    clear: both;
}

.literatura img {
    display : block;
	height: auto;
	width: 100%;
	max-height: auto;
	max-width: 700px;
	margin : 1%;
    box-shadow: 7px 7px 5px #E0E0E0;
}

}