/*
 * Купить книги buy books https://russianmonarchy.github.io/
 * Книги, романы, скачать, читать онлайн, books, novels, writers, read online
 */
 

html {
    margin: 0;
	max-width: 100%;
	background-color: #ffffff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
    margin: 0;
	max-width: 100%;
    overflow-x: hidden;	
    font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 18px;
	color: #000;
    text-align: justify;
	background-color: #fff;
  -webkit-transition: width 2s, height 2s,-webkit-transform 2s;  
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
   transition: width 2s, height 2s, transform 2s;
}

hr {
  color: #86e527;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 10px 10px;
  margin-bottom: 1px;
  font-size : 24px;
}

h2, a {
	font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 16px;
	color: #60bb05;
    text-align: justify;	
}

h2 {
	font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 20px;
	color: #423f3f;
    text-align: justify;	
}


#book-russian-mononarchy {
    position: relative;	
	width: 100%;
	display: inline-block;
	background-color: #fff;
    padding: 40px 7px;
}

.book-rus-mon {
    padding: 10px 40px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#article {
    position: relative;	
	max-width: 100%;
	background-color: #fff;
}

.article {
    padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.article2 {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	max-width: 100%;
    height: auto;
	padding: 5px;
}

#footer {
    margin: 25px;
}





@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media screen and (max-width: 1280px) {


html {
    margin: 0;
	max-width: 100%;
	background-color: #ffffff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {	
    margin: 0;
	max-width: 100%;
    font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 18px;
	color: #000;
    text-align: justify;
	background-color: #fff;
  -webkit-transition: width 2s, height 2s,-webkit-transform 2s;  
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
   transition: width 2s, height 2s, transform 2s;
}

hr {
  color: #86e527;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 10px 10px;
  margin-bottom: 1px;
  font-size : 24px;
}

h2, a {
	font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 16px;
	color: #60bb05;
    text-align: justify;	
}

h2 {
	font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 20px;
	color: #423f3f;
    text-align: justify;	
}


#book-russian-mononarchy {
    position: relative;	
	width: 100%;
	display: inline-block;
	background-color: #fff;
    padding: 40px 7px;
}

.book-rus-mon {
    padding: 10px 40px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#article {
    position: relative;	
	width: 100%;
	background-color: #fff;
}

.article {
    padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.article2 {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	max-width: 100%;
    height: auto;
	padding: 5px;
}

#footer {
    margin: 25px;
}


}


@media (max-width: 480px) {

html {
    margin: 0;
	max-width: 100%;
	background-color: #ffffff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
    margin: 0;
	max-width: 100%;	
    font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 18px;
	color: #000;
    text-align: justify;
	background-color: #fff;
  -webkit-transition: width 2s, height 2s,-webkit-transform 2s;  
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
   transition: width 2s, height 2s, transform 2s;
}

hr {
  color: #86e527;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 10px 10px;
  margin-bottom: 1px;
  font-size : 24px;
}

h2, a {
	font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 16px;
	color: #60bb05;
    text-align: justify;	
}

h2 {
	font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 20px;
	color: #423f3f;
    text-align: justify;	
}


#book-russian-mononarchy {
    position: relative;	
	width: 100%;
	display: inline-block;
	background-color: #fff;
    padding: 40px 7px;
}

.book-rus-mon {
    padding: 10px 40px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#article {
    position: relative;	
	width: 100%;
	background-color: #fff;
}

.article {
    padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.article2 {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	max-width: 100%;
    height: auto;
	padding: 5px;
}

#footer {
    margin: 25px;
}

}

@media (max-width: 360px) {

html {
    margin: 0;
	max-width: 100%;
	background-color: #ffffff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {	
    margin: 0;
	max-width: 100%;
    font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 18px;
	color: #000;
    text-align: justify;
	background-color: #fff;
  -webkit-transition: width 2s, height 2s,-webkit-transform 2s;  
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
   transition: width 2s, height 2s, transform 2s;
}

hr {
  color: #86e527;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 10px 10px;
  margin-bottom: 1px;
  font-size : 24px;
}

h2, a {
	font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 16px;
	color: #60bb05;
    text-align: justify;	
}

h2 {
	font-family: 'Roboto Slab', serif, Arial;
    font-style: bold;
    font-weight: 300;
	font-size : 20px;
	color: #423f3f;
    text-align: justify;	
}


#book-russian-mononarchy {
    position: relative;	
	width: 100%;
	display: inline-block;
	background-color: #fff;
    padding: 40px 7px;
}

.book-rus-mon {
    padding: 10px 40px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#article {
    position: relative;	
	width: 100%;
	background-color: #fff;
}

.article {
    padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.article2 {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	max-width: 100%;
    height: auto;
	padding: 5px;
}

#footer {
    margin: 25px;
}

}